/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.menu {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.menu p {
    display: inline;
    margin: 0 15px;
    color: white;
    cursor: pointer;
}

.menu p:hover {
    background-color: #555;
    padding: 10px;
}

.repositorio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.repositorio {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.repositorio h3 {
    font-size: 1.2em;
    color: #333;
}

.repositorio p {
    color: #666;
    margin: 10px 0;
}
.repositorio a {
    text-decoration: none;
    color: #007BFF;
    border: 1px solid #007BFF;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.repositorio a:hover {
    background-color: #007BFF;
    color: white;
}
